/* ejemplo2.css   GM17027  */
pais {background-color:blue;}
departamento {background-color:red; display:block;} 
cabecera {color:white; display:inline;} 
habitantes {color:yellow; display:inline;}
altura {color:yellow;font-size:1cm; display:inline;}